<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bladeball_Macro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bladeball_Macro.Properties.Settings>
            <setting name="BlockKey1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlockKey2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Start_Stop_Key" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="CPS" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BlockKey1Text" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="BlockKey2Text" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Start_Stop_KeyText" serializeAs="String">
                <value>F</value>
            </setting>
        </Bladeball_Macro.Properties.Settings>
    </userSettings>
</configuration>